.circle {
  border-radius: 100px;
  -gtk-outline-radius: 100px;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  padding: 0;
}

button.osd:not(:hover):not(:active) {
  color: @theme_text_color;
  text-shadow: none;
  -gtk-icon-shadow: none;
  background: none;
}

button.osd:not(:hover):not(:active):backdrop {
  color: @theme_unfocused_text_color;
  text-shadow: none;
  -gtk-icon-shadow: none;
  background: none;
}

window {
  background: @theme_base_color;
}

window:backdrop {
  background: @theme_unfocused_base_color;
}

window:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen) decoration,
window:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

window:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(ltr) scrollbar {
  border-bottom-right-radius: 8px;
}

window:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(rtl) scrollbar {
  border-bottom-left-radius: 8px;
}

window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(ltr) scrollbar {
  border-top-right-radius: 9px;
}

window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(rtl) scrollbar {
  border-top-left-radius: 9px;
}

